<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="ClaimsEntities" connectionString="metadata=res://*/MitchellClaimEdm.csdl|res://*/MitchellClaimEdm.ssdl|res://*/MitchellClaimEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DTSLAP1065;initial catalog=Claims;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>